body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 1.25em;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------overlays*/

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.over-lay {
    background-color: rgba(0, 0, 0, 0.8);
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
}


/*---------------------------------------Nav*/

.icon {
    height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Gloria Hallelujah', cursive;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #834FCB;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.navbar-dark .navbar-toggler {
    border: none;
}

#current {
    color: #834FCB;
}

/*----------------------------------header logo*/

.logo {
    width: 80%;
    margin: 75px 0px;
}


/*----------------------------------Section row main*/

h1,
h2 {
    font-family: 'Gloria Hallelujah', cursive;
}

.main-section {
    padding: 15px;
}

.text {
    font-size: 1.1em;
}

.main-image {
    width: 95%;
}

.dj-image {
    width: 70%;
    margin: 20px 0;
}

.link {
    font-family: 'Gloria Hallelujah', cursive;
    color: #834FCB;
    font-weight: 700;
    display: inline-block;
    margin: 10px
}

.link:hover {
    color: #50258b;
    text-decoration: none;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

/*-----------------------------------section Listen\*/

.heading-border {
    border: 3px solid #fff;
    padding: 9px;
}

.track-cover {
    float: left;
    width: 50%;
    margin: 0px 10px 10px 10px;
}

.track-title-1 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
    border: none;
}

.player {
    margin: 0 10px;
}

.track-cover-opposite {
    width: 50%;
    margin: 0px 10px 10px 10px;
    float: right;
}

.track-title-opposite {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px;
    border: none;
    text-align: right;
}

.player-opposite {
    margin: 0 10px;
    float: right;
}

.video-2 {
    width: 100%;
    margin-bottom: 35px;
}

/*-----------------------------------section Book\*/

.book-heading {
    margin-bottom: 40px;
    padding: 20px;
    border: 3px solid #fff;
}

.form-section-heading {
    margin: 30px 0px;
}

/*-----------------------------------section bottom row\*/

.bottom-row {
    border-top: 1px solid #fff;
}

.music-apps-container,
.sign-up-container,
.feature-container {
    padding: 25px 0px;
}

h4 {
    font-family: 'Gloria Hallelujah', cursive;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

/*--------------------Bottom row form*/

.form-text {
    margin: 50px 0;
}

.mailing-list {
    margin: 35px 0;
}

.btn {
    color: #fff;
    background-color: #834FCB;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 700;
    border: none;
}

.btn:hover {
    color: #fff;
    background-color: #50258b;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

/*--------------------bottom row feature video*/

.video {
    width: 100%;
}

.track-title {
    margin: 5px 0;
}

/*--------------------bottom row music-Apps*/

.music-apps {
    font-size: 80px;
}

.music-apps:hover {
    text-shadow: 0px 0px 8px #fff;
}

.fa-spotify {
    color: #1ed760;
}

.fa-soundcloud {
    color: #fe6200;
}

.fa-apple {
    color: #fff;
}

/*--------------------bottom row feature jumbotron*/

.jumbotron {
    background-color: #4e2a967a;
}

/*--------------------Social-links Footer*/

.list-inline {
    line-height: 40px;
    margin: 0px;
}

.list-inline i {
    font-size: 22px;
    margin: 0px 17px;
}

.social-links a {
    color: #fff;
}

.social-links i:hover,
.social-links a:hover {
    color: #834FCB;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}


/*-----------------------------------Media Queries*/

@media (min-width: 992px) {

    .navbar {
        height: 45px;
        padding: 0;
    }

    .icon {
        margin-left: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding-left: 50px;
        padding-right: 50px;
    }

    .logo {
        width: 50%;
    }

    .main-image {
        width: 50%;
    }

    .list-inline i {
        margin: 0px 50px;
    }

    /*-----------------------------------Listen Float Effect*/
    .track-cover-opposite {
        float: left;
    }

    .track-title-opposite {
        float: none;
        text-align: left;
    }

    .player-opposite {
        float: none;
    }
}
